<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenix.hiddenplace.mapper.MyHiddenPlaceMapper">

	<sql id="themeSearch">
		<if test="themeCode != 0">
			and THEMECODE = #{themeCode}
		</if>
	</sql>
	
	<sql id="search">
		<if test="keyWord != null">
			and TITLE like CONCAT('%', #{keyWord}, '%')
		</if>
	</sql>

 	<select id="list" resultType="MyHiddenPlace">
		select TBL_BOARD.NUM, TBL_BOARD.TITLE, TBL_BOARD.WRITEDATE, TBL_USER.USERNICKNAME, TBL_BOARD.READCOUNT, 
		TBL_BOARD.TITLEIMGURL, TBL_BOARD.THEMECODE, TBL_BOARD.ADDRESS, TBL_BOARD.STORENAME
		from TBL_BOARD, TBL_USER
		where TBL_BOARD.NUM > 0 and TBL_BOARD.USERID = TBL_USER.USERID
		<include refid="themeSearch"></include>
		<include refid="search"></include>
		order by TBL_BOARD.NUM DESC  
		limit #{page}, 6
	</select> 
	
	<select id="listCount" resultType="int">
		select count(NUM) 
		from tbl_board 
		where NUM > 0 
		<include refid="themeSearch"></include>
		<include refid="search"></include>
	</select>
	
	<select id="themeList" resultType="Theme">
		select *
		from TBL_THEME
	</select> 
	
	<select id="selectOne" resultType="MyHiddenPlace">
		select TBL_BOARD.TITLE, TBL_BOARD.TITLEIMGURL, TBL_BOARD.CONTENT, TBL_BOARD.UPCOUNT, TBL_BOARD.STORENAME, TBL_BOARD.THEMECODE, TBL_BOARD.ADDRESS, TBL_BOARD.USERID, TBL_USER.USERNICKNAME, TBL_BOARD.WRITEDATE 
		from TBL_BOARD, TBL_USER
		where TBL_BOARD.NUM = #{num} AND TBL_BOARD.USERID = TBL_USER.USERID
    </select> 
	
	<update id="readCountPlus">
		update TBL_BOARD set READCOUNT = READCOUNT + 1
		where NUM = #{num}
	</update> 
	
	<select id="bestMHP" resultType="MyHiddenPlace">
		select TBL_BOARD.NUM, TBL_BOARD.WRITEDATE, TBL_USER.USERNICKNAME,
		TBL_BOARD.READCOUNT, TBL_BOARD.TITLE, TBL_BOARD.TITLEIMGURL
		from TBL_BOARD, TBL_USER
		where TBL_BOARD.MHPBESTCODE = 1 and TBL_BOARD.USERID = TBL_USER.USERID;
	</select> 
	
	<insert id="insert">
		insert into TBL_BOARD (USERID, STORENAME, TITLEIMGURL, THEMECODE, TITLE, CONTENT, ADDRESS)
		values(#{userId}, #{storeName}, #{titleImgURL},#{themeCode},#{title},#{content}, #{address})
	</insert>
	
	<!-- 로그인한 유저의 즐겨찾기 목록 -->
	<select id="bookmarkAll" resultType="MyHiddenPlace">
		select TBL_BOOKMARK.NUM
		from TBL_BOOKMARK
		where userId = #{userId}
	</select>
	
	<!-- 내알못 삭제 -->
	<delete id="delete">
		delete from TBL_BOARD
		where NUM = #{num}
	</delete>
	
	<!-- 추천수구분코드 가져오기 -->
	<select id="upCountCheck" resultType="Integer">
		select UPCOUNTCODE
		from TBL_UPCOUNTCONNECT
		where userId = #{userId} and NUM = #{num}
	</select>
	
	<!-- 추천한 아이디 저장 -->
	<insert id="upCountInsert">
		insert into TBL_UPCOUNTCONNECT (UPCOUNTCODE, USERID, NUM)
		values(#{upCountCode}, #{userId}, #{num})
	</insert>
	
	<!-- 추천수 증가 -->
	<update id="upCount">
		update TBL_BOARD set UPCOUNT = UPCOUNT + 1
		where NUM = #{num}
	</update> 
	
	<!--내알못 수정 -->
	<update id="update">
		update TBL_BOARD 
		set STORENAME = #{storeName}, TITLEIMGURL = #{titleImgURL}, THEMECODE = #{themeCode}, TITLE = #{title}, CONTENT = #{content}, address =  #{address}
		where NUM = #{num}
	</update>
   
	<!--베스트코드 0초기화 -->
	<update id="updateBestCode">
		update TBL_BOARD 
		set MHPBESTCODE = 0
	</update>
   
	<!-- 추천수 500이상 상호명 가져오기 -->
	<select id="updateBestStoreName" resultType="MyHiddenPlace">
		select STORENAME, NUM
		from TBL_BOARD
		where UPCOUNT >= 500
	</select>
   
	<!-- 베스트 해당 상호명 베스트코드 1로 바꾸기 -->
	<update id="updateBestMHP" parameterType="String">
		UPDATE TBL_BOARD
		SET MHPBESTCODE = 1
		<where>
			FIND_IN_SET(NUM, #{nums})
		</where>
	</update>
	
</mapper>